.working-hours-box {
    background-color: #5b5757;
    color: white;
    padding: 20px 30px;
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
    margin-left: 120px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .working-hours-box h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    border-bottom: 3px solid #f4a300;
    padding-bottom: 8px;
  }
  
  .hours {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 16px;
  }
  
  .clock-icon {
    margin-right: 10px;
    color: #ffffff;
  }
  